/* App.css */
.bg-light {
  background-color: #ffffff; /* Light theme background color */
}

.bg-dark {
  background-color: #000000; /* Dark theme background color */
  color: #ffffff; /* Dark theme text color */
}
